language: c
sudo: false
services:
  - docker
install: wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-docker.sh
script: bash -ex ./.travis-docker.sh
env:
  global:
  - PINS="owl-ode-base.dev:. owl-ode.dev:. owl-ode-odepack.dev:. owl-ode-sundials.dev:."
  matrix:
  - PACKAGE="owl-ode-base" DISTRO="debian-stable" OCAML_VERSION="4.07"
  - PACKAGE="owl-ode" DISTRO="debian-stable" OCAML_VERSION="4.07"
  - PACKAGE="owl-ode" DISTRO="debian-stable" OCAML_VERSION="4.08"
  - PACKAGE="owl-ode-odepack" DISTRO="debian-stable" OCAML_VERSION="4.07"
  - PACKAGE="owl-ode-sundials" DISTRO="debian-stable" OCAML_VERSION="4.07"

matrix:
  fast_finish: true
  allow_failures:
    - env: PACKAGE="owl-ode-sundials" DISTRO="debian-stable" OCAML_VERSION="4.07"
